@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");



.letter-content {
  width: 80vw;
  display: flex;
  align-items: center; justify-items: center;
  font-family: "Meow Script", cursive;
  font-size: 35px;
  font-weight: 600;
}
